
body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


/**** Estilizar página inicial do game****/
.painel{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 190px;
    padding: 10px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
}

.lives {
    display: flex;
}

.lives img{
    padding: 3px;
}

.timer{
    font-size: 20px;
    font-weight: bold;
}

.mosquito1{
    width: 50px;
    height: 50px;
}

.mosquito2{
    width: 70px;
    height: 70px;
}

.mosquito3{
    width: 90px;
    height: 90px;
}

.mirror{
    transform: scaleX(-1);
}


/**** Estilizar página game over ****/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.imagem img{
    width: 100%;
}

.btn button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(51, 49, 49);
    transition: all .2s;
    border: 0px;
}
.btn button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


